.app {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleEkino{
  margin:  0 0 1rem 0;
  font-size: 4rem;
}

.app p {
  font-size: 1rem;
  margin: 0;
}
.counterBlock {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}