.counterContent{
  background: #C4C4C4;
  width: 30vw;
  border: solid #333 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: .5rem;
}

.counter{
  margin: 1rem 0;
  font-size: 1.5rem;
}

.title {
  margin: 0;
  font-size: 2.5rem;
}